.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: bisque;
    text-align: left;
    border-bottom:1px solid #000;
}

.col-md-7{
    margin-top: 130px;
    border: thick solid black;
    background-color: cornsilk;
   }


input[type=text], textarea{
    width: 100%;
    border: 3px solid black
    
}


img {
    margin-top: 10px;
    padding: 10px;
}


.section{
    margin-top: 100px;
}


